<h1>btcltcratio index page!</h1>

With BTC at $<%= "%.2f" % @btc['last_price'] %>, and</br> 
With LTC at $<%= "%.3f" % @ltc['last_price'] %>
</br>
It takes <%= "%.3f" % @ratio %> LTC to buy 1 BTC.</br></br>

<table style="width:60%">
    <th>
        <td><b>Over the last...</b></td>
        <td><b>Average</b></td>
        <td><b>High</b></td>
        <td><b>Low</b></td>
    </th>
    <% @ratios.each do |ratio| %>
    <tr>
        <td/>
        <td><%= ratio['title'] %></td>
        <td><%= "%.3f" % ratio['avg'] %></td>
        <td><%= "%.3f" % ratio['high'] %></td>
        <td><%= "%.3f" % ratio['low'] %></td>
    </tr>
    <% end %>
</table>
<br/>
</br>
These ratios are as of <%= Time.at(@btc['timestamp']).strftime("%l:%M:%S %p  %B %d, %Y") %></br>
The oldest record in the database is from <%= Time.at(@old['timestamp']).strftime("%l:%M:%S %p  %B %d, %Y") %></br>
</br>
<br/><br/>
<div class="beggin_strip">If this site helped you become wealthier, send a brotha a couple coin. [insert btc addr here] [insert ltc addr here]</div>
